@{
    ViewData["Title"] = "Welcome Page";
}

<h1>Welcome Page</h1>
<p>
    <a asp-controller="Party" asp-action="Index">Manage my parties</a> or
    <a asp-controller="Party" asp-action="Create">Add a new party</a>
</p>


