@{
    ViewData["Title"] = "Thank You";
}

<h2>Thank you, @ViewData["GuestName"]!</h2>

@if ((bool)ViewData["IsAttending"])
{
    <p>We are thrilled that you will be joining us!</p>
}
else
{
    <p>Sorry to hear you can't make it, but we appreciate your response.</p>
}
